@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?u16g9n");
  src: url("../fonts/icomoon.eot?#iefixu16g9n") format("embedded-opentype"), url("../fonts/icomoon.woff?u16g9n") format("woff"), url("../fonts/icomoon.ttf?u16g9n") format("truetype"), url("../fonts/icomoon.svg?u16g9n#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  height: 100%;
  width: 100%;
  color: #E4E1E1; }

.navbar-default {
  background-color: #2c3e50; }

.top {
  padding-top: 60px; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; }
  .menu li {
    display: inline; }
  .menu li:before {
    content: "|";
    padding-right: 0.3em; }
  .menu li:nth-child(1):before {
    content: "";
    padding: 0; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.logo {
  width: 100px;
  height: 60px;
  float: left; }

#search {
  float: left; }
  #search #search-city {
    display: block;
    float: left;
    background: #15253c;
    width: 310px;
    padding: 10px;
    margin: 9px 0;
    border: 0;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  #search .button {
    display: block;
    float: left;
    background: #15253c;
    width: 70px;
    padding: 10px;
    margin: 9px 20px;
    border: 0;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  #search button, #search label {
    color: #fff; }
  #search .button:hover,
  #search .button:active {
    background: #c0392b;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }

.bubble h4 {
  text-align: center;
  font-weight: bold;
  color: #c0392b;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #09163B; }
.bubble .info {
  padding: 15px 0; }
  .bubble .info span {
    float: left;
    margin-right: 8px;
    font-size: 20px; }
  .bubble .info .loc .icon-location:before {
    content: "\e618"; }
  .bubble .info .loc p {
    font-size: 12px;
    padding: 0 15px; }
  .bubble .info .date .icon-calendar:before {
    content: "\e645"; }
  .bubble .info .date p {
    font-size: 12px;
    padding: 0 15px; }
  .bubble .info .lfm .icon-lastfm:before {
    content: "\e705"; }
  .bubble .info .lfm a {
    font-size: 12px;
    color: #E4E1E1; }
.bubble .artists {
  max-height: 200px;
  overflow: scroll;
  background: #203244;
  padding: 5px;
  border-radius: 5px;
  color: #ccc;
  font-size: 12px;
  margin: 5px 0; }

#map-canvas {
  height: 100%;
  width: 100%; }
  #map-canvas img {
    max-width: inherit; }

.navbar-default .navbar-brand {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 34px;
  margin-right: 20px; }
.navbar-default .navbar-brand:hover {
  color: #d8d8d8; }
